<#-----author:liuxiantao------->
<#-----date:2017-04-07------->
<@main.header title="系统角色">
</@main.header>
<@main.body>
<#escape x as x?html>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                	<li><a href="#tab-content-edit" data-toggle="tab" id="nav-tab-edit"><i class="fa fa-edit"></i></a></li>
                    <li class="active"><a  href="#" onclick="refreshList()"><i class="fa fa-list-ul"></i></a></li>
                    <li class="pull-left header"><i class="fa fa-user-secret"></i><small>系统角色</small></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-content-list">
					 	<form method="post" id="searchForm" action="${base}/SysRole/index.html" autocomplete="off">
					 		<input type="hidden" id="update_id" />
					 		<input type="hidden" id="search_type" />
				            <div class="box-body">
						 		<div class="row">
		                            <div class="col-md-3">
		                                <div class="form-group">
		                                    <label for="_roleName">角色名称</label>
		                                    <input type="text" id="_roleName" name="roleName" value="${(RequestParameters.roleName)!}" class="form-control "/>
		                                </div>
		                            </div>
		                        </div>
						 		
					 			<div class="row">
									<div class="col-md-offset-5 col-md-7 btn-group">
										<button class="btn btn-primary submitForm">查询</button><button class="btn btn-default" onclick="clearForm('searchForm')">重置</button>
									</div> 
								</div>
							</div>
							<div class="box">	
								<div class="box-header with-border">
									<div class="btn-group">
										<@shiro.hasAnyRoles name="ADMIN,SysRole:save">
											<a href="#tab-content-add" data-toggle="tab" class="btn btn-primary">新增</a>
											<!-- <a class="btn btn-xs btn-primary" href="${base}/SysRole/add.html">新增</a> -->
										</@shiro.hasAnyRoles>	
									</div>
					            </div>
					            <div class="box-body table-responsive no-padding">
									<table class="table table-bordered table-hover dataList">
										<thead>
											<tr>
				                                <th class="hide">role_id</th>
				                                <th>角色名称</th>
				                                <th>描述</th>
				                                <th>操作</th>
				                            </tr>
										</thead>
										<tbody>
				                              <#if (pager.entityList)?exists && ((pager.entityList)?size != 0)>
				                                <#list pager.entityList as entity>
				                                <tr>
				                                    <td class="pk hide" id="roleId" title="${(entity.roleId)!}">${(entity.roleId)!}</td>
				                                    <td title="${(entity.roleName)!}">${(entity.roleName)!}</td>
				                                    <td title="${(entity.descn)!}">${(entity.descn)!}</td>
				                                    <td>
				                                      <@shiro.hasAnyRoles name="ADMIN,SysRole:detail">
														  <a href="tab-content-detail" data-toggle="tab" onclick="edit('${(entity.roleId)!}','1')">查看</a>
													  </@shiro.hasAnyRoles>
				                                      <@shiro.hasAnyRoles name="ADMIN,SysRole:update">
				                                      	  <a href="tab-content-update" data-toggle="tab" onclick="edit(${(entity.roleId)!},'2')">编辑</a>
				                                      </@shiro.hasAnyRoles>
				                                      <@shiro.hasAnyRoles name="ADMIN,SysRole:delete">
				                                          <a onclick="return del('${base}/SysRole/delete.json',{roleId:'${(entity.roleId)!}'});">删除</a>
				                                      </@shiro.hasAnyRoles>
				                                    </td>
				                                </tr>
				                                </#list>
				                              <#else>
				                              <tr>
				                                  <td colspan="5" class="error center">无记录</td>
				                              </tr>
				                              </#if>
				                         </tbody>
									</table>
								</div>
								<div class="">
									<@main.pagination pager=pager/>
								</div>
							</div>
						</form>
             		</div>
             		<div class="tab-pane" id="tab-content-edit">
					 
             		</div>
                </div>
            </div>
        </div>
    </div>
</section>

</#escape>
</@main.body>
<@main.footer>
<#--javascript include here-->
<script>
  jQuery(function($) {
	  $('a[data-toggle="tab"]').on('shown.bs.tab',function(e){
			var $this = $(e.target);
			var $related = $(e.relatedTarget);
			var curPage = $this.attr("href");
			
		 	if(curPage == '#tab-content-edit'){//编辑页
				var roleId = $("#update_id").val();
				var searchType = $("#search_type").val();
				
				if(roleId==""){
					jumpPage("tab-content-edit","${base}/SysRole/add.html?roleId="+roleId+"&searchType="+searchType);
		 		}else{
		 			if(searchType =='1'){
		 				jumpPage("tab-content-edit","${base}/SysRole/detail.html?roleId="+roleId+"&searchType="+searchType);
		 			}else{
		 				jumpPage("tab-content-edit","${base}/SysRole/edit.html?roleId="+roleId+"&searchType="+searchType);
		 			}
		 		}
				
				setTitle("角色管理-新增");
			}else if(curPage == '#tab-content-add'){//新增页
				$("#nav-tab-edit").click();
				setTitle("角色管理-新增");
			}else if(curPage == '#tab-content-list'){//list
				setTitle("角色管理");
			}
		});
  })
  
  
function edit(roleId,searchType){
	$("#update_id").val(roleId);
	$("#search_type").val(searchType);
	$("#nav-tab-edit").click();
	
	if(searchType==1){
		setTitle("角色管理-查看");
	}else{
		setTitle("角色管理-编辑");
	}
}

</script>
</@main.footer>