<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysUser">
	<!-- id : id fullname : 姓名 username : 登录名 password : 密码(MD5加密后) email : 
		邮箱 create_time : 创建时间 is_superadmin : 类型(0:普通管理员,1:超级管理员) remark : 备注 -->

	<sql id="fields_sql">
		`id` ,`fullname` ,`username` ,`password` ,`create_time`
		,`remark` ,`is_superadmin` ,`is_disabled`
	</sql>

	<sql id="where_sql">
		<if test="id != null">
			AND `id` = #{id}
		</if>
		<if test="fullname != null">
			AND `fullname` = #{fullname}
		</if>
		<if test="username != null and username != ''">
			AND `username` like CONCAT('%', #{username}, '%')
		</if>
		<if test="password != null and password != ''">
			AND `password` = #{password}
		</if>
		<if test="createTime != null">
			AND `create_time` = #{createTime}
		</if>
		<if test="remark != null">
			AND `remark` = #{remark}
		</if>
		<if test="isSuperadmin != null">
			AND `is_superadmin` = #{isSuperadmin}
		</if>
		<if test="isDisabled != null">
			AND `is_disabled` = #{isDisabled}
		</if>
	</sql>

	<select id="selectList_count" parameterType="filter" resultType="int">
		SELECT count(1)
		FROM sys_user
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<include refid="where_sql" />
		</trim>
	</select>

	<select id="selectList" parameterType="filter" resultType="SysUser">
		SELECT
		<include refid="fields_sql" />
		FROM sys_user
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<include refid="where_sql" />
		</trim>
		<if test="order != null">
			order by ${order} asc
		</if>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>


	<insert id="save" parameterType="SysUser">
		insert into sys_user (
		`fullname` ,`username` ,`password`
		,`create_time` ,`remark` ,`is_superadmin` ,`is_disabled`
		)
		values (
		#{fullname},#{username},#{password},#{createTime},#{remark},#{isSuperadmin},#{isDisabled}
		)
		<selectKey keyProperty="id" resultType="Long">
			SELECT
			LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<update id="update" parameterType="SysUser">
		UPDATE sys_user
		<set>
			<if test="fullname != null">
				`fullname` = #{fullname},
			</if>
			<if test="username != null">
				`username` = #{username},
			</if>
			<if test="password != null">
				`password` = #{password},
			</if>
			<if test="createTime != null">
				`create_time` = #{createTime},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="isSuperadmin != null">
				`is_superadmin` = #{isSuperadmin},
			</if>
			<if test="isDisabled != null">
				`is_disabled` = #{isDisabled},
			</if>
		</set>
		WHERE
		`id` = #{id}
	</update>

	<delete id="delete" parameterType="Long">
		delete from sys_user
		where
		`id`=#{id}
	</delete>

	<!-- 关联查询用户角色 -->
	<sql id="selectUserRole_sql">
		<if test="id != null">
			AND u.`id` = #{id}
		</if>
		<if test="fullname != null">
			AND u.`fullname` = #{fullname}
		</if>
		<if test="username != null and username != ''">
			AND u.`username` like CONCAT('%', #{username}, '%')
		</if>
		<if test="password != null and password != ''">
			AND u.`password` = #{password}
		</if>
		<if test="createTime != null">
			AND u.`create_time` = #{createTime}
		</if>
		<if test="remark != null">
			AND u.`remark` = #{remark}
		</if>
		<if test="isSuperadmin != null">
			AND u.`is_superadmin` = #{isSuperadmin}
		</if>
		<if test="isDisabled != null">
			AND u.`is_disabled` = #{isDisabled}
		</if>
	</sql>

	<select id="selectUserRoleList_count" parameterType="filter" resultType="int">
		SELECT count(1)
		FROM sys_user u LEFT JOIN sys_user_role ur ON u.id = ur.user_id LEFT JOIN sys_role r ON ur.role_id = r.role_id
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<include refid="selectUserRole_sql" />
		</trim>
	</select>

	<select id="selectUserRoleList" parameterType="filter" resultType="SysUser">
		SELECT
		r.role_name,
		<include refid="fields_sql" />
		FROM sys_user u LEFT JOIN sys_user_role ur ON u.id = ur.user_id LEFT JOIN sys_role r ON ur.role_id = r.role_id
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<include refid="selectUserRole_sql" />
		</trim>
		<if test="order != null">
			order by ${order} asc
		</if>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>
	</select>
	
	<select id="selectUserInfo" parameterType="filter" resultType="SysUser" >
		SELECT * FROM sys_user WHERE username = #{username}
	</select>
</mapper>